@media screen and (min-width: 768px){
  .title {
    font-weight: 300;
    &--bigger {
      display: none;;
    }
    &--big {
      font-size: ms(1);
    }
    &--medium {
      font-size: ms(4);
      font-weight: 500;
    }
  
    &--bold {
      font-weight: 700;
    }
  }

  .team-grid {
    display: flex;
    flex-direction: column;
    align-items: initial;
  }

  .team-grid .members {
    margin-bottom: 100px;
  }

  .alignLeft {
    width: 450px;
  }

  .borne {
    width: 300px;
  }

  .logo {
    width: 58px;
    &--full {
      width: 300px;
      margin: 0 0 50px 0;
    }
    &--footer {
      width:150px;
    }
  }

  .link {
    margin: 16px 0 0 30px;
  }

  .members{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    &:nth-child(2n){
      flex-direction: row-reverse;
    }
  }

  .nav {
    &--footer {
      max-width: 600px;
      margin: auto;

      & .link {
        margin: 16px 0 0 0;
      }
    }
  }
  
  .nav ul {
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
  .alignLeft {
    width: 550px;
  }

  .logo {
    &--full {
      width: 350px;
    }
  }

  .nav--footer {
    margin: auto;
    padding-top:188px;
}
  .nav {
    &--footer {
    max-width: 780px;
  }
}
.members{
  display: flex;
  flex-direction: row;
  justify-content: initial;

  &:nth-child(2n){
    flex-direction: row-reverse;
  }
}
}

@media screen and (min-width: 1440px) {
    
}

