
body {
  font-family: 'Montserrat', sans-serif;
  font-size: ms(0);
<<<<<<< HEAD
  font-weight: 300;
  line-height: 1.5;
=======
  line-height: 1.25;
>>>>>>> a7a207038e27d1c348603bef3d125c81159af314
  color:white;
}

.text-small {
  display: inline-block;
  font-weight: 300;
  font-size: ms(-2);
}
.title {
  font-weight: 300;
  &--bigger {
    display: none;;
  }
  &--big {
    font-size: ms(0);
  }
  &--medium {
<<<<<<< HEAD
    font-size:25px;
=======
    font-size:ms(2);
>>>>>>> a7a207038e27d1c348603bef3d125c81159af314
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--donate {
    text-align: center;
  }
}

p {
  font-weight: 100;
}

.section--intro__scrollable p {
  font-size: ms(-1);
}