
body {
  font-family: 'Montserrat', sans-serif;
  font-size: ms(0);
  font-weight: 300;
  line-height: 1.5;
  color:white;
}

.text-small {
  display: inline-block;
  font-weight: 300;
  font-size: ms(-2);
}
.title {
  font-weight: 300;
  &--bigger {
    display: none;
  }
  &--big {
    font-size: ms(0);
  }
  &--medium {
    font-size: ms(2);
    font-weight: 500;
  }
  &--small {
    font-size:ms(1);
    font-weight: bold;
  }

  &--bold {
    font-weight: 700;
  }
}


.asso-name {
  margin: 32px 0;
  color: #fff;
  font-size: 25px;
  font-weight: bold;
}

.section--intro__scrollable p {
  font-size: ms(-1);
}

