
body {
  font-family: 'Montserrat', sans-serif;
  font-size: ms(0);
  font-weight: 300;
  line-height: 1.5;
  color:white;
}

.text-small {
  display: inline-block;
  font-weight: 300;
  font-size: ms(-2);
}
.title {
  font-weight: 300;
  &--bigger {
    display: none;;
  }
  &--big {
    font-size: ms(0);
  }
  &--medium {
    font-size:25px;
    font-weight: 500;
  }

  &--bold {
    font-weight: 700;
  }

  &--donate {
    text-align: center;
  }
}

.section--intro__scrollable p {
  font-size: ms(-1);
}