.arrow {
    margin:auto;
    @include tbx {
        display: none;
    }
}
.random-btn, .donation-btn {
    display: block;
    margin: 30px auto;
    border: solid 3px #fff;
    color: #fff;
    background: inherit;
    padding: 16px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    &:hover {
        color: #141414;
        background-color: #fff;
    }
}