body {
  overflow-x:hidden;
  background-color: $c-dark;
}
html {
  scroll-behavior: smooth;

}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: linear-gradient(72deg, #ff0000, rgba(255,0,0,0) 60%),
                linear-gradient(144deg, #FFE600, rgba(0,255,0,0) 60%),
                linear-gradient(216deg, #14FF00, rgba(0,0,255,0) 60%),
                linear-gradient(288deg, #03FCFC, rgba(0,0,255,0) 60%),
                linear-gradient(360deg, #F703FC, rgba(0,0,255,0) 60%);
  opacity: 0.25;
}

.section {
  &:not(.section--intro):not(.section--footer):not(.section--main) {
    background-color: $c-dark;
    margin:30px;
    width: auto;
  }
  &--intro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    width: 100%;
    height: 100vh;
    &__logo, &__scrollable {
      align-self: center;
      text-align: center;
      align-items: flex-end;
    }
    &__scrollable {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      bottom: -10px;
    }
  }
  &--main {
    display: flex;
    flex-direction: column;
  }
  &--content {
    
    &__about {
      @include tbx {
        margin:0 auto;
        display: flex;
        flex-direction: column;
      }
    }
  }
  &--invisible {
    display: none;
  }
  &--footer {
      margin-left: auto;
      margin-right: auto;
      background-color: $c-darker;
      text-align: center;
      &__copyright {
          text-align: center;
          margin:32px 0px 32px 0px;
      }
  }
}

.alignLeft {
  margin-left: 30px;
  width: 80%;
}

.borne{
  margin: 0 auto;
  width: 90%;
  height: 500px;
  background-color: grey;
  margin: 10% auto 0;
}


.logo {
  width: 58px;
  &--full {
    width: 250px;
    margin: 0 0 10% 0;
  }
  &--nav {
    width: 30px;
    height: 30px;
    margin: 0px 0 0 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @include tbx {
      position: relative;
    }

  }
  &--footer {
    position: absolute;
    width:150px;
    text-align: left;
    margin-top:-74px;
  }
}

.link {
  display: block;
  margin: 16px auto 0;
  &--members:hover {
    text-decoration: underline;
  }
}

.link--donation, .link--partner {
  padding: 10px;
  border: solid white 2px;
  width: fit-content;
  margin-top: 32px;
}

.team-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-grid .members {
  margin-bottom: 50px;
}

.members {
  display: flex;
  flex-direction: column;
  &.link {
    margin: 16px 0 0 0;
  }
}

.member{
  align-self: center;
  max-width: 200px;
  border-radius: 100%;
}

.desc {
  max-width: 300px;
}
.anchor{
  display: block;
  height: 112px;
  margin-top: -113px; 
  visibility: hidden;
}

.donation-btn, .asso-descr, .asso-name, #elemid {
  display: none;
}