.nav {
  &.nav-main {

      width: 100%;
      background-color:$c-darker;
      z-index: 2;
      display: inline-block;
      top:0;
    &-ul {
      list-style: none;
      &__li {
        display: inline-block;
      }
    }
  }
  &.nav-footer {
    &-ul {
      &__li {
      }
    }
  }
}

.footer {
  text-align: center;
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6%;
  &__list {
      text-align: left;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      line-height: 32px;

  }
  &__copyright {
      text-align: center;
      margin:64px 0px 64px 0px;
  }
  .nav--footer {
    &__el {
      &:first-child {
        font-family: "Montserrat", sans-serif; // changer police
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 16px;
      }
    }
  }
}
