


// FOOTER


ul {
  list-style-type: none;
  padding: 0;
}

.list {
  &--footer {
    &__li {
      &:first-child {
        font-family: "Montserrat", sans-serif;
        margin-bottom: 32px;
        font-weight: 900;
        font-size: 16px;
        text-transform: uppercase;
      }
    }
    &--img {
      &__el:not(:first-child) {
        display: inline-block;
      }
    }
  }

}



.link {
  color:$c-alt;
  text-decoration: none;
  border-bottom: 1px solid $c-alt;
  cursor: pointer;
  transition-duration: 0.3s;
  padding-bottom: 0px;
  transition-property: padding-bottom;
  &:hover {
    padding-bottom:2px;
  }
  &--footer {
    border-bottom: 1px solid transparent;
    color:white;
    &:hover {
      padding-bottom: 0px;
      color:$c-alt;
      border-bottom: 1px solid $c-alt;
    }
  }
  &--italic {
    font-style: italic;
    font-weight: 300;
  }
}