@import '~modularscale-sass/stylesheets/modularscale';

$modularscale: (
  base: 1em,
  ratio: 1.25
);


$c-dark: #1F1F1F;
$c-darker: #141414;
$c-alt:white;


// MIXIN
$screen-smxx: 360px;

$screen-sm: 425px;

$screen-smx: 550px;

$screen-tb: 700px;

$screen-tbx: 900px;

$screen-lg: 1000px;

$screen-lgx: 1200px;

$screen-xl: 1400px;

$screen-xxl: 1900px;